{% extends 'page.html.twig' %}

{% block title %}Edit Content{% endblock %}

{% block body %}
<div class="container  mt-4 p-4">
    <h4>Edition de la fiche</h4>



    <a href="{{ path('app_van_caracteristique_index') }}" class="btn btn-primary btn-sm mb-2">Retour</a>
        {# {{ include('user/_delete_form.html.twig') }} #}
    {# a link to delete currrent user if rom url #}
<form method="post" action="{{ path('app_van_caracteristique_delete', {'id': van_caracteristique.id}) }}" onsubmit="return confirm('Poursuivre la suppression de cette liste ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ van_caracteristique.id) }}">
    <button class="btn btn-danger btnDel btn-sm mb-4"><i class="fa fa-trash"></i> Supprimer !?</button>
    <br/>
</form>
    {# form #}


    {{ include('van_caracteristique/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
{% endblock %}
