{% extends 'page.html.twig' %}

{% block title %}Vehicule index{% endblock %}

{% block body %}


    <h1>Liste des véhicules</h1>

<div class="table-responsive">

 <a class="btn btn-primary mb-8" href="{{ path('app_vehicule_new') }}">Ajouter un véhicule</a>
	<table class="table table-striped gy-7 gs-7">
		<thead>
			<tr class="fw-semibold fs-6 text-gray-800 border-bottom border-gray-200">
        <thead>
            <tr>
                <th>Id</th>
                <th>Immatriculation</th>
                <th>DateImmatriculation</th>
                <th>NumeroSerie</th>
                <th>Kilometrage</th>
                <th>DateKilometrage</th>
                <th>EntreeParc</th>
                <th>SortieParc</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicule in vehicules %}
            <tr>
                <td>{{ vehicule.id }}</td>
                <td>{{ vehicule.immatriculation }}</td>
                <td>{{ vehicule.DateImmatriculation ? vehicule.DateImmatriculation|date('Y-m-d') : '' }}</td>
                <td>{{ vehicule.numeroSerie }}</td>
                <td>{{ vehicule.kilometrage }}</td>
                <td>{{ vehicule.dateKilometrage ? vehicule.dateKilometrage|date('Y-m-d') : '' }}</td>
                <td>{{ vehicule.entreeParc ? vehicule.entreeParc|date('Y-m-d') : '' }}</td>
                <td>{{ vehicule.sortieParc ? vehicule.sortieParc|date('Y-m-d') : '' }}</td>
                <td>

                {# if vehicule.statut = Réservé #}
                {% if vehicule.statut == 'Réservé' %}
                {# loop through vehicule.bookings #}
                {% for booking in vehicule.bookings %}
                    {#  link to booking id#}
                    <a class="btn btn-sm btn-primary" href="{{ path('app_booking_show', {'id': booking.id}) }}"> Réservé
                    {# badge warning #}


                    </a>

                {% endfor %}

                {% else %}
                    {{ vehicule.statut }}
                {% endif %}






                </td>
                <td>
                    {# <a href="{{ path('app_vehicule_show', {'id': vehicule.id}) }}">show</a> #}
                    <a class="btn btn-sm btn-warning" href="{{ path('app_vehicule_edit', {'id': vehicule.id}) }}"><i class="fa fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    </div>
{% endblock %}
