{% extends 'page.html.twig' %}
{% block title %}Vehicule{% endblock %}

{% block body %}
    <h1>Informations sur le véhicule</h1>

   	<table class="table table-striped gy-7 gs-7">
		<thead>
			<tr class="fw-semibold fs-6 text-gray-800 border-bottom border-gray-200">
        <thead>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicule.id }}</td>
            </tr>
            <tr>
                <th>Immatriculation</th>
                <td>{{ vehicule.immatriculation }}</td>
            </tr>
            <tr>
                <th>Date de l'immatriculation</th>
                <td>{{ vehicule.DateImmatriculation ? vehicule.DateImmatriculation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Numéro de série</th>
                <td>{{ vehicule.numeroSerie }}</td>
            </tr>
            <tr>
                <th>Kilometrage</th>
                <td>{{ vehicule.kilometrage }}</td>
            </tr>
            <tr>
                <th>Date du Kilometrage</th>
                <td>{{ vehicule.dateKilometrage ? vehicule.dateKilometrage|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Entrée dans le parc</th>
                <td>{{ vehicule.entreeParc ? vehicule.entreeParc|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Sortie du parc prévue</th>
                <td>{{ vehicule.sortieParc ? vehicule.sortieParc|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>
                {{ vehicule.statut }}
                </td>
            </tr>
            <tr>
                <th>Réservation(s)</th>
                <td>
                {# link to booking details #}
                {# for each booking #}

                {# if vehicule.statut = Réservé #}
                {% if vehicule.statut == 'Réservé' %}
                {# loop through vehicule.bookings #}
                {% for booking in vehicule.bookings %}
                    {#  link to booking id#}
                    <a class="btn btn-sm btn-danger" href="{{ path('app_booking_show', {'id': booking.id}) }}">Booking #{{booking.id}}
                    {# badge warning #}


                    </a>

                {% endfor %}

                {% else %}
                    {{ vehicule.statut }}
                {% endif %}


                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vehicule_index') }}">Retour à la liste</a>

    <a href="{{ path('app_vehicule_edit', {'id': vehicule.id}) }}">Modifier</a>

    {{ include('vehicule/_delete_form.html.twig') }}
{% endblock %}
