{{ form_start(form) }}
    {# {{ form_widget(form) }} #}

    {# div class row #}

    <div class="row">

    <div class="col-md-3">
    {{ form_row(form.nom) }}
    </div>

    <div class="col-md-3">
    {{ form_row(form.idLocpro) }}
    </div>

    <div class="col-md-3">
    {{ form_row(form.modele) }}
    </div>


    <div class="col-md-3">
    {{ form_row(form.price) }}
    </div>

    <div class="col-md-12">
    {{ form_row(form.Caracteristiques) }}
    </div>

    <div class="col-md-6">
    {{ form_row(form.description) }}
    </div>

       <div class="col-md-6">
    {{ form_row(form.description_EN) }}
    </div>

       <div class="col-md-6">
    {{ form_row(form.description_DE) }}
    </div>

       <div class="col-md-6">
    {{ form_row(form.description_NL) }}
    </div>

           <div class="col-md-12">
    {{ form_row(form.visiteVirtuelle) }}
    </div>


    <div class="col-md-12 mt-4">
  {{ form_row(form.visuel) }}
    {# show current visuel #}

    {% if campervan.visuel is not null %}
    <div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3 mt-4" data-kt-image-input="true">

    <div class="image-input-wrapper w-250px h-250px" style="background-image: url({{ asset('upload/' ~ campervan.visuel) }}"></div>

    <p class="py-2 text-danger"><i class="fa fa-info"></i> Un visuel est obligatoire</p>
		</div>




    {% endif %}

    {# show current imgGallery #}



    </div>

    <div class="col-md-12">



    {{ form_row(form.imgGallery) }}



<div class="row mt-6">
{% if imgGallery is defined %}
    {% if imgGallery is not null %}
    {# if imgGallery exists and not null#}






    {% for img in imgGallery %}

                    <div class="col-md-3">
											<a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="/upload/{{ img }}">
														<!--begin::Image-->


                             <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded mb-7" style="height: 266px;background-image:url('/upload/{{ img }}')"></div>

														<div class="overlay-layer card-rounded bg-dark bg-opacity-25">
															<i class="bi bi-eye-fill fs-2x text-white"></i>
														</div>
														<!--end::Action-->
													</a>
                          <!--end::Image-->

                      <a href="#" class="btn btn-sm btn-warning deleteIMG" data-id="{{ img }}">
                          <i class="fa fa-trash"></i> Supprimer
                      </a>

                      </div>


    {% endfor %}

    {% endif %}
    {% endif %}


</div>

    </div>

   <div class="col-md-12">
    {{ form_row(form.lienDescriptif) }}
    </div>

       <div class="col-md-12">
    {{ form_row(form.agence) }}
    </div>



    </div>



     <button id="validForm" class="btn btn-lg btn-primary flex-shrink-0 me-2 mt-12 flR"><i class="fa fa-save"> </i> {{ button_label|default('Valider') }}</button>
{{ form_end(form) }}

{# style block #}

<style>

{# button css #}

.suppAlign
{
   float:right;
   margin-top: -45px;
}

.flR{
  float:right
}

{# checkbox input #}

input[type="checkbox"] {

margin: 5px;
 position: absolute;
  display: none;
  color: #fff !important;


}

{# label of checkbox #}

input[type="checkbox"] + label {

  display: inline-block;
  position: relative;
  padding : 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff !important;
  background-color: #666 !important;
    border-radius: 5px;
}

{# checkbox input checked label #}

input[type="checkbox"]:checked + label {

  background-color: #a0c341 !important;
  color: #fff !important;
}

{# add fa icon on checked #}

input[type="checkbox"]:checked + label:before {

  content: "\f00c";
  font-family: FontAwesome;
  display: inline-block;

  left: 10px;
  top: 0px;
  color: #fff !important;
}

{# add fa icon on unchecked #}



{# checkbox input unchecked label #}

input[type="checkbox"]:not(:checked) + label {

  background-color: #F1416C !important;
  color: #fff !important;
}


{# radio #}

{# checkbox input #}

input[type="radio"] {

margin: 5px;
 position: absolute;
  display: none;
  color: #fff !important;


}

{# label of checkbox #}

input[type="radio"] + label {

  display: inline-block;
  position: relative;
  padding : 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff !important;
  background-color: #666 !important;
    border-radius: 5px;
}

{# checkbox input checked label #}

input[type="radio"]:checked + label {

  background-color: #a0c341 !important;
  color: #fff !important;
}

{# add fa icon on checked #}

input[type="radio"]:checked + label:before {

  content: "\f00c";
  font-family: FontAwesome;
  display: inline-block;

  left: 10px;
  top: 0px;
  color: #fff !important;
}

{# add fa icon on unchecked #}



{# checkbox input unchecked label #}

input[type="radio"]:not(:checked) + label {

  background-color: #F1416C !important;
  color: #fff !important;
}

{# label css #}

label {

  display: inline-block;
  position: relative;
  padding : 10px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

    border-radius: 5px;
}

{# label checked css #}



</style>

<script>

{# native js button class deleteIMG on click send value to controller #}

const deleteIMG = document.querySelectorAll('.deleteIMG');
    deleteIMG.forEach((btn) => {
    btn.addEventListener('click', (e) => {
    e.preventDefault();
    const pictureTodelete = btn.getAttribute('data-id');
    // url route controller send value to controller

    const url = "/campervan/5/edit";

    const xhr = new XMLHttpRequest();
    xhr.open('POST', url, true);




    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.send('pictureTodelete=' + pictureTodelete);
    xhr.onload = function() {
    if (xhr.status === 200) {
    btn.parentElement.remove();
    }

    }







    })

    })


</script>

{# script block #}