{{ form_start(form) }}
    <a class="btn btn-secondary" href="{{ path('app_company_index') }}">Retour</a>
    {{ form_widget(form) }}
    <button class="btn btn-lg btn-success mt-12">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}

<style>
label {

  display: inline-block;
  position: relative;
  padding : 10px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

    border-radius: 5px;
}


{# checkbox input #}

input[type="checkbox"] {

margin: 5px;
 position: absolute;
  display: none;
  color: #fff !important;


}

{# label of checkbox #}

input[type="checkbox"] + label {

  display: inline-block;
  position: relative;
  padding : 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff !important;
  background-color: #666 !important;
    border-radius: 5px;
}

{# checkbox input checked label #}

input[type="checkbox"]:checked + label {

  background-color: #a0c341 !important;
  color: #fff !important;
}

{# add fa icon on checked #}

input[type="checkbox"]:checked + label:before {

  content: "\f00c";
  font-family: FontAwesome;
  display: inline-block;

  left: 10px;
  top: 0px;
  color: #fff !important;
}

{# add fa icon on unchecked #}



{# checkbox input unchecked label #}

input[type="checkbox"]:not(:checked) + label {

  background-color: #F1416C !important;
  color: #fff !important;
}


{# radio #}

{# checkbox input #}

input[type="radio"] {

margin: 5px;
 position: absolute;
  display: none;
  color: #fff !important;


}

{# label of checkbox #}

input[type="radio"] + label {

  display: inline-block;
  position: relative;
  padding : 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff !important;
  background-color: #666 !important;
    border-radius: 5px;
}

{# checkbox input checked label #}

input[type="radio"]:checked + label {

  background-color: #a0c341 !important;
  color: #fff !important;
}

{# add fa icon on checked #}

input[type="radio"]:checked + label:before {

  content: "\f00c";
  font-family: FontAwesome;
  display: inline-block;

  left: 10px;
  top: 0px;
  color: #fff !important;
}

{# add fa icon on unchecked #}



{# checkbox input unchecked label #}

input[type="radio"]:not(:checked) + label {

  background-color: #F1416C !important;
  color: #fff !important;
}

</style>