{{ form_start(form) }}
    {# {{ form_widget(form) }} #}

    <div class="row">

    <div class="col-md-3">
    {{ form_row(form.Nom) }}
    </div>

    <div class="col-md-3">
    {{ form_row(form.Prenom) }}
    </div>

        <div class="col-md-6">
    {{ form_row(form.email) }}
    </div>

    </div>


        <div class="row">

    <div class="col-md-4">
    {{ form_row(form.Phone) }}
    </div>

    <div class="col-md-4">
    {{ form_row(form.roles) }}
    </div>

        <div class="col-md-4">
    {{ form_row(form.password) }}
    </div>

        <div class="col-md-12">
    {{ form_row(form.PictureProfile) }}
    </div>

    </div>

    {# if role of user edited #}

{# get logged in user role #}

{% set role = app.user.roles[0] %}

{# if role is admin #}

{% if role == 'ROLE_ADMIN' %}

    <div class="row">

    <div class="col-md-12">
    {{ form_row(form.agence) }}
    </div>



    </div>

{% endif %}



    {# end if role of user edited #}



    <button class="btn  btn-success mt-12">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}



<script>
{# get input password by class pwd #}

var pwd = document.getElementsByClassName("pwd");

{# add button after pwd #}

var btnEye = document.createElement("button");

{# add class to button #}

btnEye.classList.add("btnEye");

{# position btnEye after pwd #}

pwd[0].parentNode.insertBefore(btnEye, pwd[0].nextSibling);
btnEye.innerHTML = "Afficher";

{# add icon to button #}

{# add text to button #}


{# btnEye on click reveal password #}

btnEye.onclick = function(event) {

  // do not submit form

  event.preventDefault();



if (pwd[0].type === "password") {



pwd[0].type = "text";



btnEye.innerHTML = "Masquer";



} else {



pwd[0].type = "password";


btnEye.innerHTML = "Afficher";

}

}

</script>


<style>

.btnEye{



    background-color: orange;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    outline: none;
    margin-top:5px;

}
{# checkbox input #}

input[type="checkbox"] {

margin: 5px;
 position: absolute;
  display: none;
  color: #fff !important;


}

{# label of checkbox #}

input[type="checkbox"] + label {

  display: inline-block;
  position: relative;
  padding : 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff !important;
  background-color: #666 !important;
    border-radius: 5px;
}

{# checkbox input checked label #}

input[type="checkbox"]:checked + label {

  background-color: #a0c341 !important;
  color: #fff !important;
}

{# add fa icon on checked #}

input[type="checkbox"]:checked + label:before {

  content: "\f00c";
  font-family: FontAwesome;
  display: inline-block;

  left: 10px;
  top: 0px;
  color: #fff !important;
}

{# add fa icon on unchecked #}



{# checkbox input unchecked label #}

input[type="checkbox"]:not(:checked) + label {

  background-color: #F1416C !important;
  color: #fff !important;
}


label {

  display: inline-block;
  position: relative;
  padding : 10px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

    border-radius: 5px;
}
</style>
